
// Color palette
$primaryColor: #0098ff;
$primaryColorHover: #30acff;

// Font
$mediumFontSize: 12pt;
$lightFontWeight: 300;
$regularFontWeight: 400;

// Transitions
$shortTransitionTime: 0.1s;
$mediumTransitionTime: 0.25s;

// Border
$smallBorderRadius: 4px;
$lightBorderColor: #d0d0d0;
$regularBorderColor: #909090;

// Responsiveness
$mobileWidth: 960px;
